<a href="https://colab.research.google.com/github/Shambhavi-Gupta/Tutorial3_keywords_and_identifiers/blob/main/TUTORIAL_3(Keywords_and_identifiers).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def my_func(a,b):  
    c = a+b  
    print(c)  
my_func(10,20)

30

In [ ]:
a = 1  
while a < 4:  
  a += 1   
  if a == 2:  
    continue  
  print(a)

3
4

In [ ]:
i = 18  
if (1 < 12):  
    print("I am less than 18")

I am less than 18

In [ ]:
n = 11  
if(n%2 == 0):  
    print("Even")  
else:  
    print("odd")

odd

In [ ]:
num = 10
while num>5:
    print(num)
    num -= 1           # num = num-1

10
9
8
7
6

In [ ]:
a = 1
print(a)

_z = 10
print(_z)

p_q = 20
print(p_q)

1
10
20

In [ ]:
myVar="SUBSCRIBE FUN WITH DATA SCIENCE"
print(myVar)

var1=1
print(var1)

var2=2
print(var2)

SUBSCRIBE FUN WITH DATA SCIENCE
1
2

#99: identifier can’t be only digits
#9abc: identifier can’t start with number
#x+y: the only special character allowed is an underscore
#for: it’s a reserved keyword